[submodule "Engine/dependencies/include/imgui"]
	path = Engine/dependencies/include/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "Engine/dependencies/include/glm"]
	path = Engine/dependencies/include/glm
	url = https://github.com/g-truc/glm
